<!DOCTYPE html>

<style>

    a{
        color:green;
        font-size:18px;
        text-decoration:none;
    }
    
    a:visited{
        color:green;
        font-size:18px;
        text-decoration:none;

    }

    a:hover{
        color:#405d27;
        text-decoration:none;

    }
	
	p{
		color:#3e4444;
    	font-size:18px;
	}
    
</style>

<html>
<head>
    <title></title>
    <script>
    window.location.href = '/';
    </script>
</head>
<body>
    <p>You have successfully logged out. Go <a href="/">Home</a>!</p>

</body>
</html>